#################################
# Ignore IDE stuff              #
#################################
.idea

#################################
# Ignore compiled stuff         #
#################################
*.exe
gonitor
gonitor.config.json
debug.test
*.prof
