#################################
# Ignore IDE stuff              #
#################################
.idea

#################################
# Ignore compiled stuff         #
#################################
*.exe
config.json
debug.test
